body {
  background-color: #021526;
  color: white !important;
}
.icon-white {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(0deg) brightness(2)
    contrast(1);
}

input {
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 1000px) {
  .parent-div {
    flex-direction: column;
    gap: 30px;
  }
  .inner-div {
    margin: 0;
    max-width: 400px;
  }
}

@media (max-width: 399px) {
  .inner-div {
    margin: 0;
    width: auto;
    height: auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
